Body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* Tipografia Asap */
    --font-family-asap: "Asap", sans-serif;
    --title-lg: bold 56px/120% var(--font-family-asap);
    --title-md: bold 24px/120% var(--font-family-asap);
    --title-sm: bold 16px/120% var(--font-family-asap);

    /* Tipografia Inconsolata */
    --font-family-inconsolata: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-inconsolata);

    /* Tipografia Maven Pro */
    --font-family-maven-pro: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family-maven-pro);
    --text-sm: 400 14px/140% var(--font-family-maven-pro);
}

h1 {
    font: var(--title-lg) ;
}

h2 {
    font: var(--title-md);
}

h3 {
    font: var(--title-sm);
}

h4 {
    font: var(--subtitle);
}

p {
    font: var(--text-md);
}

p.small {
    font: var(--text-sm);
}